* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: lightgreen;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 25px;
    position: sticky;
    z-index: 9999;
}

header h1 {
    font-family: monospace;
    font-size: 65px;
    margin: 0;
}

header a {
    text-decoration: none;
    color: palevioletred;
    font-family: monospace;
}

header nav {
    margin: 8.5px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    font-size: 55px;
    padding: 15px;
    font-weight: bolder;
}

body {
    margin: none;    
}

footer {
    padding: 30px;
}

.hero {
    background-color: lightsalmon;
    height: 400px;
    width: auto;
    display: flex;
    justify-content: center;
}

.hero img {
    border-radius: 50%;
    margin: 40px;
}

.about-me-info {
    padding: 25px;
}

.about-me-info h3 {
    font-family: monospace;
    font-size: 50px;
    text-align: center;
}

.about-me-text {
    font-family: monospace;
    font-size: 40px;
    text-align: center;
}

.projects-info {
    padding: 25px;
}

.projects-info h3 {
    font-family: monospace;
    font-size: 50px;
    text-align: center;
}

.project-link-text h3 {
    font-size: 40px;
    font-weight: lighter;
}

.project-link-text p {
    font-family: monospace;
    font-size: 35px;
    text-align: center;
}

.contact-info {
    padding: 25px;
}

.contact-info h3 {
    font-family: monospace;
    font-size: 50px;
    text-align: center;
}

.contact-text {
    text-align: center;
}

.contact-text a {
    font-family: monospace;
    font-size: 35px;
    flex-direction: column;
}


footer {
    padding: 25px;
}

footer h2 {
    font-family: monospace;
    font-size: 40px;
    text-align: center;
}